 <% include ../views/partials/dashHeader %>
  
  <article class="col-md-8 maincontent">
				<header class="page-header">
					<h1 class="page-title">Lista de asistencia</h1>
				</header>
      <% if (message.length > 0) { %>
          <div class="bg-info"><%= message %></div>
      <% } %>
       
       <p>Clase: <strong><%= fecha %></strong></p>
       <p>Horario: <strong><%= hora %></strong></p>
      <div>Entrenador: <strong><%= entrenador.MaraBox.Nombre%> <%=entrenador.MaraBox.Apellido %></strong></div>
      
      <h3>Asistentes</h3>
      <table class="table">
        <tr><td>Cedula</td><td>Nombres</td><td>Apellidos</td></tr>
        <% asistencia.forEach(function(a) { %>
          <tr><td><%= a.cedula %></td><td><%= a.nombre %></td><td><%= a.apellido %></td></tr>
        <% }); %>
      </table>
</article>
			<!-- /Article -->

		</div>
	</div>	<!-- /container -->

  <footer>
    <% include ../views/partials/dashFooter %>
  </footer>
</body>
</html>

