<!DOCTYPE html>
<html>
<head>
  <% include ../views/partials/head %>
</head>
<body class="container">

  <header>
    <% include ../views/partials/header %>
  </header>

  <div class="container">

  <div class="col-sm-6 col-sm-offset-3">

      <!-- show any messages that come back with authentication -->
      <% if (message.length > 0) { %>
          <div class="alert alert-danger"><%= message %></div>
      <% } %>
       
       <p>Clase: <strong><%= fecha %></strong></p>
       <p>Horario: <strong><%= hora %></strong></p>
      <div>Entrenador: <strong><%= entrenador.MaraBox.Nombre%> <%=entrenador.MaraBox.Apellido %></strong></div>
      
      <h3>Asistentes</h3>
      <table>
        <tr><td>Cedula</td><td>Nombres</td><td>Apellidos</td></tr>
        <% asistencia.forEach(function(a) { %>
          <tr><td><%= a.cedula %></td><td><%= a.nombre %></td><td><%= a.apellido %></td></tr>
        <% }); %>
      </table>
                
      
      
  </div>

  </div>

  <footer>
    <% include ../views/partials/footer %>
  </footer>

</body>
</html>

