<!DOCTYPE html>
<html>
<head>
  <% include ../views/partials/head %>
</head>
<body class="container">

  <header>
    <% include ../views/partials/header %>
  </header>

  <div class="container">

  <div class="col-sm-6 col-sm-offset-3">

      <h1><span class="fa fa-sign-in"></span> Signup</h1>

      <!-- show any messages that come back with authentication -->
      <% if (message.length > 0) { %>
          <div class="alert alert-danger"><%= message %>
            <% if (regman == 1) { %>
              <a href="/MaraBox/admin/primerUsuario">Registrar aqui</a>
            <% } %>
          </div>
      <% } %>

      <!-- LOGIN FORM -->
      <form action="/MaraBox/admin/<%=fecha%>/<%=hora%>/registroAsistencia" method="post">
        
          <input type="hidden" name="fecha" value=<%=fecha%>>
          <input type="hidden" name="hora" value=<%=hora%>>
          
          <div class="form-group">
              <label>Cedula</label>
              <input type="text" class="form-control" name="cedula">
          </div>
          <div class="form-group">
              <label>Nombre</label>
              <input type="text" class="form-control" name="nombre">
          </div>
          <div class="form-group">
              <label>Apellido</label>
              <input type="text" class="form-control" name="apellido">
          </div>
          <button type="submit" class="btn btn-warning btn-lg">Registrar Asistencia</button>
      </form>

      <hr>

      <p>Already have an account? <a href="/login">Login</a></p>
      <p>Or go <a href="/">home</a>.</p>

  </div>

  </div>

  <footer>
    <% include ../views/partials/footer %>
  </footer>

</body>
</html>
