<!DOCTYPE html>
<html>
<head>
  <% include ../views/partials/head %>
</head>
<body class="container">

  <header>
    <% include ../views/partials/header %>
  </header>

  <div class="container">

  <div class="col-sm-6 col-sm-offset-3">

      <!-- show any messages that come back with authentication -->
      <% if (message.length > 0) { %>
          <div class="alert alert-danger"><%= message %></div>
      <% } %>
      
      <h1>Superusuario</h1>
      <table>
        <tr><td>Cedula</td><td>Nombres</td><td>Apellidos</td></tr>
        <%if (superU) { %>
          <% superU.forEach(function(a) { %>
            <tr><td><%= a.cedula %></td><td><%= a.nombre %></td><td><%= a.apellido %></td></tr>
          <% }); %>
        <% } %>
      </table>
      <p><%= superU %></p>
                
      <h1>Usuarios Administrativos</h1>
      <table>
        <tr><td>Cedula</td><td>Nombres</td><td>Apellidos</td></tr>
        <%if (admin) { %>
          <% admin.forEach(function(a) { %>
            <tr><td><%= a.cedula %></td><td><%= a.nombre %></td><td><%= a.apellido %></td></tr>
          <% }); %>
        <% } %>
      </table>
      
      <h1>Entrenadores</h1>
      <table>
        <tr><td>Cedula</td><td>Nombres</td><td>Apellidos</td></tr>
        <%if (coach) { %>
          <% coach.forEach(function(a) { %>
            <tr><td><%= a.cedula %></td><td><%= a.nombre %></td><td><%= a.apellido %></td></tr>
          <% }); %>
        <% } %>
      </table>
  </div>

  </div>

  <footer>
    <% include ../views/partials/footer %>
  </footer>

</body>
</html>

