<!DOCTYPE html>
<html>
<head>
  <% include ../views/partials/head %>
</head>
<body class="container">

  
    <% include ../views/partials/dashHeader %>
  
      <div class="col-sm-6 main">
        </br>
      <!-- show any messages that come back with authentication -->
      <% if (message.length > 0) { %>
          <div class="bg-info"><%= message %></div>
      <% } %>
      
      <!-- LOGIN FORM -->
      <form action="/MaraBox/admin/nuevoWod" method="post">
        
          <div class="form-group">
            <label>Nombre del WOD</label>
            <input type="text" class="form-control" id="nombrewod" name="nombreWOD"/>
          </div>
          
          <div class="form-group">
            <label>Time Cap</label>
            <input type="text" class="form-control" id="timecap" name="timecap"/>
          </div>
          
          <div class="form-group" id="wug">
            <label>Warm Up</label>
            <select class="warmup form-control" data-style="btn-info" name="warmup">
              <optgroup label="Warm Up">
                <% ejercicios.forEach(function(ejercicios) { %>
                  <option value=<%= ejercicios._id %>><%= ejercicios.MaraBox.Nombre %></option>
	              <% }); %>
              </optgroup>
            </select>
            <input type="text" class="form-control" id="cwu" name="cwu[]"/>
          </div>
          <a href="#" class="btn btn-default btn-lg active" id="remwu">Remove</a>
          <a href="#" class="btn btn-default btn-lg active" id="addwu">Add Another Input Box</a>
          
          <div class="form-group">
            <label>Tipo de Wod</label>
            <select class="tipo form-control" data-style="btn-info" name="tipow">
              <optgroup label="Tipo">
                  <option value="sencillo">Sencillo</option>
                  <option value="amrap">AMRAP</option>
                  <option value="emom">EMOM</option>
              </optgroup>
            </select>
          </div>
          
          <div class="form-group" id="wdg">
            <label>WOD</label>
            <select class="wod form-control" data-style="btn-info" name="wod">
              <optgroup label="WOD">
                <% ejercicios.forEach(function(ejercicios) { %>
                  <option value=<%= ejercicios._id %>><%= ejercicios.MaraBox.Nombre %></option>
	              <% }); %>
              </optgroup>
            </select>
            <input type="text" class="form-control" id="cwd" name="cwd[]"/>
          </div>
          <a href="#" class="btn btn-default btn-lg active" id="remwd">Remove</a>
          <a href="#" class="btn btn-default btn-lg active" id="addwd">Add Another Input Box</a>
          
          <div class="form-group" id="bog">
            <label>Buy Out</label>
            <select class="buyout form-control" data-style="btn-info" name="buyout">
              <optgroup label="Buy Out">
                <% ejercicios.forEach(function(ejercicios) { %>
                  <option value=<%= ejercicios._id %>><%= ejercicios.MaraBox.Nombre %></option>
	              <% }); %>
              </optgroup>
            </select>
            <input type="text" class="form-control" id="cbo" name="cbo[]"/>
          </div>
          <a href="#" class="btn btn-default btn-lg active" id="rembo">Remove</a>
          <a href="#" class="btn btn-default btn-lg active" id="addbo">Add Another Input Box</a>
          
          <button type="submit" class="btn btn-primary">Guardar WOD</button>
      </form>

      <hr>
</div>
</div>
    </div>
    
  <footer>
    <% include ../views/partials/dashFooter %>
  </footer>

</body>
</html>